body{
    margin: 0;
    padding: 0;
    width: 100vw;
    background-image: url(/Nubes/img/sky.jpg);
    background-size: cover;
    overflow: hidden;
}
.espacio{
    width: 100%;
    height: 100vh;
    position: absolute;
}
img{
    width: 20vw;
}
.primer-nube{
    position: relative;
    top: 20px;
    animation: nube1 20s linear infinite;
}
.segunda-nube{  
    position: relative;
    top: 20px;
    animation: nube1 30s linear  infinite;
    
}
@keyframes nube1{
    0%{
        transform: translateX(-20%);
    }
    100%{
    transform: translateX(100%);
    }
}
